{% extends 'courses/base.html' %}
{% block title %} Prodigyy {% endblock title %}
{% block content %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">About</h5>

                    <p class="card-text">eLearning has completely transformed the way in which learning is imparted to students. Unlike traditional chalk and
                     board method of teaching, eLearning makes learning simpler, easier, and more effective. Here are 9 features of eLearning that make it
                     advantageous to students.</p>
                     <p class="card-text">Today's learners want relevant, mobile, self-paced, and personalized content. This need is fulfilled with the online
                     mode of learning; here, students can learn at their own comfort and requirement. Let's have an analytical look at the advantages of online learning.</p>
                     <ol class="card-text">
                        <li>Online Learning Accommodates Everyone’s Needs</li>
                        <li>Lectures Can Be Taken Any Number Of Times</li>
                        <li>Offers Access To Updated Content</li>
                        <li>Quick Delivery Of Lessons</li>
                        <li>Scalability</li>
                        <li>Consistency</li>
                        <li>Reduced Costs</li>
                        <li>Effectiveness</li>
                        <li>Less Impact On Environment</li>
                     </ol>

                </div>
              </div>
        </div>
{% endblock content %}