{% extends 'courses/base.html' %}
{% block title %} My courses {% endblock title %}

{% block content %}
<div class="container">

          <div class="row">
              {% for uc in user_courses %}
              <div class= "col">
                    <div class="card" style="width: 25rem;padding-top: 10px;margin-top:10px">
                        <div style="width:100%; text-align:center">
                      <img class="card-img-top" style="width: 12rem;height: 10rem" src="{{uc.course.thumbnail}}"
                           alt="Card image cap">
                        </div>
                      <div class="card-body">
                        <h5 class="card-title">{{uc.course.name}}</h5>
                          </div>
                          <div class="p-2 "style="text-align: center">
                              <div class="row">
                                  <div class="col">
                                  <a href="/prodigyy/video/{{uc.course.slug}}" class="btn ">Start Course</a></div>

                          </div>
                        </div>
                      </div>
              </div>
              {% endfor %}


          </div>
      </div>
{% endblock content %}
